*{margin: 0; padding: 0;} 

body{
font-family: 'Nunito Sans', sans-serif;
font-size: 14px;
}
	/*MENU TREN*/
.menutren{
	background-color: #bab8b8;
}

ul.nav.navbar-nav.float-sm-right.menutrenphai{
	padding:10px 0px;
}
.navbar-light .navbar-nav .nav-link{
	color: #191818;
	font-size: 14px;
	font-weight: bold;
	margin-right: 45px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #dd0b30;
	transition: 0.3s;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #dd0b30;
}

@media(max-width: 576px){
.menutrenphai{
	text-align: center;
	}
}
	/*HET MENU TREN*/

	/*SLIDE TREN*/
.slidetren{
	height: 300px; /*768*/
	overflow: hidden;
	position: relative;
}

.slidetren .anhbg{
	position: absolute;
	z-index: 1;
	top:0;
	left: 0;
	animation: zoomlen 15s forwards;
	width: 100%;
}

.slidetren .layerden{
	background-color: rgba(0, 0, 0, 0.7);
	height: 560px;
	width: 100%;
	position: absolute;
	z-index: 2;
	top:0;
	left: 0;
}

.slidetren .layerchu{
	position: absolute;
	z-index: 3;
	top:25%;
	left: 50%;
	color: white;
	width: 700px;
	margin-left: -350px;
	text-align: center;
	opacity: 0;
	animation: hienra 1s forwards;
}

.layerchu h3{
	font-weight: bold;
	font-size: 60px;
	font-family: 'Cormorant Garamond', serif;
}

.tdphu.so2{
	font-size: 18px;
	line-height: 23px;
	padding-top: 25px;
	font-weight: 300;
	color: #c6c5c5;
}

@-webkit-keyframes hienra{
	from{top:20%;opacity:0;}
	to{top:25%;opacity: 1;}
}
@-webkit-keyframes zoomlen{
	from{transform: scale(1.1);}
	to{transform: scale(1);}
}

@media(max-width: 768px){
	
.slidetren{
	height: 250px;
}

.slidetren .layerchu{
	width: 420px;
	margin-left: -210px;
}
.layerchu h3{
	font-size: 36px;
}

.tdphu.so2{
	font-size: 16px;
	line-height: 23px;
}
}

@media(max-width: 576px){
	
.slidetren{
	height: 250px;
}

.slidetren .anhbg{
	width: auto;
}
.slidetren .layerchu{
	width: 320px;
	margin-left: -160px;
}
.layerchu h3{
	font-size: 30px;
}

.tdphu.so2{
	font-size: 13px;
	line-height: 23px;
}
}

	/*HET SLIDE TREN*/


/*
==============================================================
					CONTACTS CSS START
==============================================================
*/
	/*Contact Info*/
.contact{
	margin-top: 20px;
	margin-bottom: 20px;
}
.form{
	height: 294px;
	border: 2px solid gray;
	border-radius: 10px;
	transition: 0.4s;
}
.form i.fa{
	padding-top: 25px;
	font-size: 70px;
	color: black;
	transition: 0.4s;

}	
.form h3{
	color: #333333;
	font-size: 25px;
	font-weight: bold;
	padding-top: 25px;
	position: relative;
	transition: 0.4s;
}
.form h3:after{
	content: "";
	left: 0;
	right:0;
	bottom:-10px;
	height: 2px;
	width: 60px;
	position: absolute;
	background-color: #333333;
	margin: 0 auto;

}
.form p{
	padding-top: 10px;
	color: #808080;
	font-size: 16px;
	font-weight: bold;
}
.form:hover {
	border-color:  #d11637;
}
.form:hover i.fa{
	color: #d11637;
	font-size: 80px;
}
.form:hover h3{
	color: #d11637;
}
/*Google Map*/
.mapform{
	margin-bottom: 40px;
}
	/*End Google Map*/

	/*Message Form*/
.nutgui{

	background-color:white; 
	color: #dd0b30;
	display: inline;
	width: auto;
	text-transform: uppercase;
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: 700;
	transition: 0.4s;
}
.nutgui:hover{
	background-color:#dd0b30 ;
	color: white;
}
.nutcan{
	background-color:white; 
	color: #dd0b30;
	display: inline;
	width: auto;
	text-transform: uppercase;
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: 700;
	transition: 0.4s;
}
.nutcan:hover{
	background-color:#dd0b30 ;
	color: white;
}
@media(max-width: 576px){
	.form{
		margin-bottom: 10px;
	}
	a.nav-link{
		text-align: center;
		border-bottom: 1px solid gray;
	}
	.navbar-toggleable-xs .navbar-nav .nav-item{
		margin-left: 45px;
	}
}
@media(max-width: 768px){
	.lg{
		width: 80px;
		padding-top: 12px;
	}
	.form{
		height: 200px;
		border: 2px solid gray;
		border-radius: 10px;
		transition: 0.4s;
	}
	.form i.fa{
		padding-top: 15px;
		font-size: 40px;
		color: black;
		transition: 0.4s;

	}	
	.form h3{
		color: #333333;
		font-size: 15px;
		font-weight: bold;
		padding-top: 25px;
		position: relative;
		transition: 0.4s;
	}
	.form h3:after{
		content: "";
		left: 0;
		right:0;
		bottom:-10px;
		height: 1px;
		width: 60px;
		position: absolute;
		background-color: #333333;
		margin: 0 auto;

	}
	.form p{
		padding-top: 10px;
		color: #808080;
		font-size: 10px;
		font-weight: bold;
	}

}	
/*End Message Form*/

/*
==============================================================
					CONTACTS CSS END
==============================================================
*/
.footer{
	height: auto;
	padding-top: 58px;
	padding-bottom: 10px;
	background-color: #545454;
	font-size: 12px;
	color: #e1e1e1;
}

i.fa.fa-long-arrow-right {
    display: inline;
}

b.tdchan{
	font-size: 14px;
	border-bottom: 1px solid rgba(236, 232, 232, 0.42);
	line-height: 30px;
	display: block;
	margin-bottom: 10px;
}

p.chan{
	line-height: 19px;
    margin-bottom: 10px;
}

a.doimau.chan{
	color: #e1e1e1;
	font-weight: 300;
}

a.doimau.chan:hover{
	color: #e70930;
	transition: 0.3s;
}

span.chan{
	padding-left: 10px;
}

.imgchan {
    padding-right: 4px;
    padding-top: 6px;
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.imgchan:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

ul.cpr{
	float: right;
}

ul.cpr i{
	color:#191818 ;
    width: 20px;
    height: 20px;
    background-color:#e1e1e1;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 12px;
}

ul.cpr i:hover{
	background-color: #e70930;
	transition: 0.3s;
}

.cp{
	border-top: 1px solid rgba(236, 232, 232, 0.42);
	padding-top: 10px;
	margin: 16px 0px 0px 0px;
}

i.len{
	float: right;
    position: fixed;
    z-index: 2;
    bottom: 50px;
    color: #e1e1e1;
    width: 40px;
    height: 40px;
    background-color: #e70930;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.5;
    right: -100px;
}

i.len:hover{
	bottom:55px;
	opacity: 1;
}

.lenvao{
	right: 50px!important;
}

@media(max-width: 576px){

i.len{
	right: -100px;
	bottom: 100px;
}

i.len:hover{
	bottom:105px;
	opacity: 1;
}

.lenvao{
	right: 20px!important;
}
}
/*hếtfooter*/
