*{margin: 0; padding: 0;} 

.hd{
	
	min-height: 70px;
	background-color: #1568b1;
}

div.lo{
	margin-top: 15px;
	font-family: 'Glegoo', serif;

}
span.lo{
	color: #022b7c;
	font-size: 26px;
}
span.fi{
	color: #ffffff;
	font-size: 26px;
}

span.our{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	margin-right: 20px;
	font-size: 14px;
	
}

div.our{
	margin-top: 7px;
}
.menu{
	height: 70px;
	background-color: #003663;
	padding: 0px;
	font-family: 'PT Sans', sans-serif;

}

.menutren{
	background-color: transparent;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 0px;
	transform:translateY(-17px);
}

.menuphu{
	transform:translateY(-62px);
}
span.mnp{
	font-size: 12px;
	color: #ffffff;
	padding-right: 40px;
}
span.mnp:last-child{
	padding-right: 20px;
}
.nav-tabs {
	border:none;
	transform: translateY(10px);}

a.nav-link{
	background-color: #04264c;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	height: 53px;
}

a.nav-link.active{
	background-color: #0c99c8!important;}


.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active {
	border-color:#0c99c8;
}


.bando{
	background-image:url(images/Lo.jpg);
	height: 631px;
}

.menuduoi{
	background-color: #0c99c8;
	height: 53px;
	width: 1110px;
    margin-left: 1px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.btn-success{
	padding: 7px 20px;
	margin-left: 20px;
	background-color: #9cbd12;
}

.soc{
	padding-left: 20px;
	padding-right: 20px;
}

.menuduoi2{
	height: 53px;
	width: 1110px;
    margin-left: 1px;
	background-color: #003663;
	transform: translateY(505px);
	border-radius: 3px;
}

.than{
	padding-top: 20px;
}
.nd{
	background-color: #f6f6f6;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 95px;

}

.thanphai{
	background-color: #ffffff;
	transform: translateX(-15px);
	border-radius: 3px;
	
}

.ndthanphai{
	padding-top: 33px;
	margin-left: -33px;
}

h4{
	font-size: 20px;
	line-height: 36px;
	color: #003663;
	font-weight: 300;
}

p{
	font-size: 13px;
	line-height: 24px;
	color: #7f7f7f;
}
.boc{
	height: 45px;
	width: 887px;
	border:1px solid #d1dc8d;
	background-color: #fbffe4;
	padding-left: 30px;
	line-height: 44px;
}

.nd1{
	font-size: 14px;
	color: #2f4455;
}
.nd2{
	
	font-family: arial;
	font-size: 12px;
	color: #2f4455;
}

.nd3{
	color: #8a9928;
	font-family: arial;
	font-size: 12px;
	margin-right: 20px;
}

.nd3._2{
	color: #0c99c8;
}
.nd4{
	font-style: italic;
	font-size: 12px;
	line-height: 40px;
	color: #ffffff;
	position: relative;
    left: -31px;
    top: -5px;

}

.boc.so2{
	border:1px solid transparent;
	background-color: #ffffff;
}

.boc.so3{
	border:1px solid #d7e7ec;
	background-color: #f4fbfd;
}

i.fa.fa{
	padding:0px 2px; 
}

.ft{
	background-color: #003663;
	height: 1367px;
	border-top:4px solid #002747;
}

.duoicung{
	margin-top: 48px;
}
.duoicung1{
	margin-bottom:48px;
}
.ft p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px; 
	color: #ffffff;
}

p.ab{
	font-family: arial;
	font-style: italic;
	font-size: 12px;
	line-height: 24px;
	color: #0c99c8;
}

p.ab.so2{
	color: #265b87;
	line-height: 17px;
}
.our.so2{
	color: #ffffff;
}
